.wrapper {
  padding: 20px 0;
  min-width: 300px;
}
.caption {
  svg {
    height: 17px;
    width: 17px;
    position: relative;
    top: 2px;
  }
}
.edit {
  color: inherit;
  text-decoration: none;
}