.wrapper {
  display: flex;
  width: 100%;
}
.song {
  cursor: pointer;
  &:hover {
    color: #843024;
  }
  &.selected {
    color: tomato;
  }
}

.songCard {
  padding: 0;
  margin-top: 10px;
}
.playlist {
  max-width: 500px;
  min-width: 300px;
  margin-top: 20px;
}

.enter {
  opacity: 0;
  transition: 1s;
}
.enterActive {
  opacity: 1;
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
}
.songDetails {
  padding-left: 45px;
}
.edit {
  color: inherit;
}