.form {
  max-width: 600px;
  min-width: 300px;
  padding: 20px;
}
.paper {
  display: inline-flex;
}
.array {
  margin: 20px 0;
}
.caption {
  & > label {
    margin-left: 20px;
  }
  .name {
    min-width: 300px;
  }
}
.notesContainer {
  margin-bottom: 20px;
}
.notes {
  width: 100%;
}
.breadcrumbs {
  a {
    color: inherit;
  }
}
.remove {
  padding: 10px 0;
}