@rowWidth: 200px;

.wrapperUnauthorized  {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.playlists,
.songs {
  display: grid;
  grid-template-columns: 25% 70%;
  grid-template-rows: @rowWidth;
  grid-gap: 20px;
  justify-items: start;
  align-items: start;
}
.scrollWrapper {
  height: @rowWidth;
  padding: 0;
}

