.list {
  max-width: 300px;
  .listItem {
    font-size: 18px;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-column-gap: 30px;
  align-items: start;
  padding: 20px;
}
.paper {
  display: inline-flex;
}
.selected {
  min-width: 400px;
}
.form {
  display: flex;
  flex-direction: column;
  .input {
    max-width: 300px;
    margin-bottom: 20px;
  }
  .button {
    align-self: flex-start;
    margin-left: 24px;
    margin-bottom: 20px;
  }
}

.response {
  padding: 24px;
}
