.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;

}

.link {
  color: inherit;
  & + & {
    &:before {
      content: '/';
      display: inline-block;
      padding: 0 7px;
    }
  }
}
