.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  max-width: 360px;
  box-sizing: border-box;
  .button {
    align-self: flex-start;
  }
  .input {
    margin-bottom: 15px;
    width: 100%;
  }
}
