.wrapper {
  .appBar {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
  }
  .text {
    flex-grow: 1;
  }
}
.link {
  color: gray;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.user {
  display: inline-block;
  color: white;
  padding-right: 15px;
}