.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 80vw;
}
.content {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-width: 400px;
  padding: 0 24px;

  button {
    align-self: flex-start;
    margin-top: 20px;
  }
}