.wrapper {
  display: grid;
  grid-template-areas:
    'main'
    'footer';
}
.footer {
  grid-area: footer;
  display: flex;
  margin-top: 10px;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
